
# Binaries for programs and plugins
# Dependency directories (remove the comment below to include it)
# Output of the go coverage tool, specifically when used with LiteIDE
# Test binary, built with `go test -c`
# vendor/
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.test
.DS_Store
.idea
dist
ibooks_notes_exporter
output/*
